code{
    font-family:monospace,monospace
}
html{
    height:100%
}
body,div,ul,ol,li,h1,pre,p{
    margin:0;
    padding:0
}
code,em{
    font-style:normal;
    font-weight:normal
}
ol,ul{
    list-style:none
}
h1{
    font-size:100%
}
body{
    font:normal x-small verdana,arial,helvetica,sans-serif;
    background-color:white;
    z-index:1;
    min-height:100%
}
h1{
    font-size:18px;
    font-weight:normal;
    margin:10px 0
}
.rulespage{
    margin:0 auto;
    position:relative;
    vertical-align:middle;
    width:600px
}
.rulespage h1{
    font-size:xx-large;
    text-align:center;
    margin-top:20px
}
.rulespage .info{
    font-size:larger;
    padding-top:10px
}
.rulespage .rule-list{
    margin:10px;
    padding:10px;
    font-size:medium
}
.rulespage li{
    border-bottom:1px solid #ddd;
    padding:10px;
    margin:10px;
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding-box;
    background-clip:padding-box
}
.rulespage li.first-rule{
    border-top:1px solid #ddd;
    padding-top:18px
}
.rulespage .expander{
    color:gray;
    cursor:help;
    padding:10px
}
.rulespage .examples{
    font-size:small
}
.rulespage li.example{
    border:none
}
.rulespage li.good-example{
    background:#bcf5a9
}
.rulespage li.bad-example{
    background:#f5a9a9
}
.rulespage em{
    font-weight:bold
}
.rulespage em.toggle{
    font-weight:normal
}
.rulespage .info{
    text-align:center
}
